.tabs {
    padding: 8px;
}
 .tab{ 
    margin-bottom: 10px;
    padding: 10px;
    background-color: aquamarine;
    color: antiquewhite;
    font-size: 20px;
 }

 .active {
    border-color: black;
    background-color: blue;
    color: azure;
 }

 .content {
    padding: 20px 10px;
    height: 100px;
    font-size: 30px;
    font-weight: 800;
    color: brown;
 }