.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product {
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.btn-container button {
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 800px;
    border-radius: 10px;
}